<div class="container">
  <div class="chart-container">
    <canvas id="diabetes-chart" baseChart
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions">
    </canvas>
  </div>
  <div class="button-container">
    <button (click)="filterDataByDateRange(6)" [class.selected]="selectedRange === 6">Last 6 Months</button>
    <button (click)="filterDataByDateRange(12)" [class.selected]="selectedRange === 12">Last Year</button>
    <button (click)="filterDataByDateRange(24)" [class.selected]="selectedRange === 24">Last 2 Years</button>
    <button (click)="filterDataByDateRange(36)" [class.selected]="selectedRange === 36">Last 3 Years</button>
  </div>
</div>
