<div class="dialog-header">
  <span>Search patient records</span>
  <button mat-icon-button aria-label="Close" (click)="onDialogClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="search-patient-container">
    <form class="search-patient-form" [formGroup]="searchPatientRecordForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label for="cnp">CNP</mat-label>
          <input matInput id="cnp" type="number" formControlName="cnp" />
          <mat-error *ngIf="searchPatientRecordForm.get('cnp')!.invalid">{{
              getErrorMessageCNP()
            }}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="loading-modal-footer">
    <button
      class="formButton"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="searchPatientRecordForm.invalid"
      (click)="onSave()"
    >
      Submit
    </button>
  </div>
</mat-dialog-actions>
