<mat-sidenav-container class="navbar-content-container" fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" mat-list-item>Close</a>

      <a *hasRoles="[ERole.Laboratory]"
         (click)="onAddLaboratoryAnalysisResult()"
         mat-list-item
         matTooltip="Add Analysis Result"
      >
        Add Analysis Result
      </a>

      <a *hasRoles="[ERole.Doctor]"
         (click)="onSearchPatientRecords()"
         mat-list-item
         matTooltip="Records"
      >
        Search Patient
      </a>

      <a *hasRoles="[ERole.Patient]"
         [routerLink]="['/records', userCNP]"
         mat-list-item
         matTooltip="Records"
      >
        Records
      </a>

      <a *hasRoles="[ERole.FamilyDoctor]"
         routerLink="/my-patients"
         mat-list-item
         matTooltip="Patients"
      >
        Patients
      </a>

      <a *hasRoles="[ERole.FamilyDoctor]"
         routerLink="/family-doctor-request/family-doctor"
         mat-list-item
         matTooltip="Requests"
      >
          Requests
      </a>

      <a *hasRoles="[ERole.Patient]"
         routerLink="/family-doctor-request/patient"
         mat-list-item
         matTooltip="Requests"
      >
        My Requests
      </a>

      <a
        *ngIf="isUserLoggedIn()"
        mat-list-item
        (click)="logout()"
        matTooltip="Logout"
      >
        <mat-icon>logout</mat-icon>
      </a>

      <a
        *ngIf="!isUserLoggedIn()"
        routerLink="/login"
        mat-list-item
        matTooltip="Login"
      >
        <mat-icon>login</mat-icon>
      </a>

      <a
        *ngIf="!isUserLoggedIn()"
        routerLink="/register"
        mat-list-item
        matTooltip="Register"
      >
        <mat-icon>person_add</mat-icon>
      </a>

      <span [style.padding]="'0 1rem'" *ngIf="isUserLoggedIn()">
        Hello, {{ currentUser$ | async }}</span>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sideNavToggle)="sidenav.toggle()"></app-header>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

