.menu-spacer {
  flex: 1 1 auto;
}

.nav-right-panel {
  display: flex;
  gap: 0.5rem;
}

.nav-right-panel img {
  cursor: pointer;
}

.logo-button {
  text-decoration: none;
  color: white;
}

.sidenav-img {
  padding-left: 0.8rem;
  cursor: pointer;
}

.navbar-icon {
  font-size: 1.5rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

main {
  padding: 2rem;
  height: calc(100% - 4rem - 64px);
}

