:host {
  width: 100%;
}

.register-family-doctor-form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.registerFamilyDoctorForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.registerFamilyDoctorForm * {
  width: 100%;
}

mat-card {
  width: 25%;
  margin: 0 auto;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  padding: 1rem;
}
