<mat-toolbar color="primary">
  <button mat-icon-button (click)="onSidenavToggle()" fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <a class="app-title" routerLink="/home">MedSynex</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs fxHide.sm>
    <ul fxLayout fxLayoutGap="1rem" class="navigation-items">
      <li>
        <a *hasRoles="[ERole.Patient]"
           [routerLink]="['/records', userCNP]"
           mat-button
           matTooltip="Records"
        >
          Records
        </a>

        <a *hasRoles="[ERole.FamilyDoctor]"
           routerLink="/my-patients"
           mat-button
           matTooltip="Patients"
        >
          Patients
        </a>

        <a *hasRoles="[ERole.FamilyDoctor]"
           routerLink="/family-doctor-request/family-doctor"
           mat-button
           matTooltip="Requests"
        >
          Requests
        </a>

        <a *hasRoles="[ERole.Patient]"
           routerLink="/family-doctor-request/patient"
           mat-button
           matTooltip="Requests"
        >
          My Requests
        </a>

        <a
          *ngIf="isUserLoggedIn()"
          mat-button
          (click)="logout()"
          matTooltip="Logout"
        >
          <mat-icon class="navbar-icon">logout</mat-icon>
        </a>

        <a
          *ngIf="!isUserLoggedIn()"
          routerLink="/login"
          mat-button
          matTooltip="Login"
        >
          <mat-icon class="navbar-icon">login</mat-icon>
        </a>

        <a
          *ngIf="!isUserLoggedIn()"
          routerLink="/register"
          mat-button
          matTooltip="Register"
        >
          <mat-icon class="navbar-icon">person_add</mat-icon>
        </a>

        <a *ngIf="isUserLoggedIn()" class="user-navbar">
          Hello, {{ currentUser$ | async }}
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>

