.button-group {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

mat-card {
  background-color: rgba(74, 74, 74, 0.45);
}

.button-group button {
  padding: 0 2rem;
  margin: 0 5px;
}

.highlighted {
  background-color: rgba(38, 166, 154, 0.5);
}

mat-card-content {
  margin-top: 25px !important;
  margin-left: 5px !important;
}

