#title {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

mat-paginator {
  z-index: 10;
}

.empty-table {
  font-size: 1.25rem;
  text-align: center;
}

.empty-table td {
  padding: 1rem;
}

div.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.table-responsive {
  width: 90%;
  flex: 1;
  overflow-x: auto;
}

.family-doctor-container {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.bolded-text {
  font-weight: bold;
}

.button-container {
  justify-self: flex-end !important;
}
