div.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  position: relative;
  gap: 1rem;
  height: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.button-container {
  margin: 0;
}

#title {
  margin-top: 0;
  text-align: left;
  font-weight: bold;
}

mat-paginator {
  z-index: 10;
  position: sticky;
  bottom: 0;
}

.empty-table {
  font-size: 1.25rem;
  text-align: center;
}

.empty-table td {
  padding: 1rem;
}

.family-doctor-container {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.bolded-text {
  font-weight: bold;
}
