.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.text-section {
  flex-basis: 50%;
  margin-right: 20px;
  text-align: justify;
}

.home-photo {
  max-width: 100%;
  height: auto;
  flex-basis: 50%;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

#home-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.custom-mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

mat-card-header {
  background-color: #5F9EA0;
  color: white;
  padding: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-section, .home-photo {
    flex-basis: auto;
    margin: 10px 0;
  }

  #home-title {
    font-size: 2rem;
  }

  .text-section p {
    font-size: 0.9rem;
  }

}
