<div class="dialog-container">
  <div class="dialog-header">
    <h2>Laboratory Analysis Result Details</h2>
    <button mat-icon-button class="close-button" (click)="onDialogClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-content">
    <div class="laboratory-analysis-info-container">
      <div class="info-column">
        <div class="info-item">
          <label>Glucose:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.glucose >= 73 && laboratoryAnalysisResult.glucose <= 110,
               'yellow-text': laboratoryAnalysisResult.glucose > 110 && laboratoryAnalysisResult.glucose <= 126,
               'red-text': laboratoryAnalysisResult.glucose > 126 || laboratoryAnalysisResult.glucose < 73
             }">
            {{ laboratoryAnalysisResult.glucose }} mg/dL
          </div>
        </div>
        <div class="info-item">
          <label>Insulin:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.insulin >= 18 && laboratoryAnalysisResult.insulin <= 172,
               'yellow-text': laboratoryAnalysisResult.insulin > 172 && laboratoryAnalysisResult.insulin <= 243,
               'red-text': laboratoryAnalysisResult.insulin > 243
             }">
            {{ laboratoryAnalysisResult.insulin }} pmol/L
          </div>
        </div>
        <div class="info-item">
          <label>Cholesterol:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.cholesterol < 200,
               'yellow-text': laboratoryAnalysisResult.cholesterol >= 200 && laboratoryAnalysisResult.cholesterol <= 239,
               'red-text': laboratoryAnalysisResult.cholesterol > 239
             }">
            {{ laboratoryAnalysisResult.cholesterol }} mg/dL
          </div>
        </div>
        <div class="info-item">
          <label>Triglyceride:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.triglyceride < 150,
               'yellow-text': laboratoryAnalysisResult.triglyceride >= 151 && laboratoryAnalysisResult.triglyceride <= 500,
               'red-text': laboratoryAnalysisResult.triglyceride > 500
             }">
            {{ laboratoryAnalysisResult.triglyceride }} mg/dL
          </div>
        </div>
        <div class="info-item">
          <label>Haemoglobin:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.haemoglobin >= 13.5 && laboratoryAnalysisResult.haemoglobin <= 16.5,
               'yellow-text': (laboratoryAnalysisResult.haemoglobin >= 12 && laboratoryAnalysisResult.haemoglobin < 13.5) ||
               (laboratoryAnalysisResult.haemoglobin > 16.5 && laboratoryAnalysisResult.haemoglobin <= 18),
               'red-text': laboratoryAnalysisResult.haemoglobin < 12 || laboratoryAnalysisResult.haemoglobin > 18
             }">
            {{ laboratoryAnalysisResult.haemoglobin }} g/dL
          </div>
        </div>
        <div class="info-item">
          <label>Leukocyte Count:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.leukocyteCount >= 4.5 && laboratoryAnalysisResult.leukocyteCount <= 11,
               'yellow-text': laboratoryAnalysisResult.leukocyteCount < 4.5 || laboratoryAnalysisResult.leukocyteCount > 11
             }">
            {{ laboratoryAnalysisResult.leukocyteCount }} mii/μL
          </div>
        </div>
      </div>

      <div class="info-column">
        <div class="info-item">
          <label>Platelet Count:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.plateletCount >= 150 && laboratoryAnalysisResult.plateletCount <= 450,
               'yellow-text': laboratoryAnalysisResult.plateletCount >= 50 && laboratoryAnalysisResult.plateletCount < 150,
               'red-text': laboratoryAnalysisResult.plateletCount < 50
             }">
            {{ laboratoryAnalysisResult.plateletCount }} mii/μL
          </div>
        </div>
        <div class="info-item">
          <label>Total Calcium:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.totalCalcium >= 8.8 && laboratoryAnalysisResult.totalCalcium <= 10.4,
               'yellow-text': (laboratoryAnalysisResult.totalCalcium >= 6.0 && laboratoryAnalysisResult.totalCalcium < 8.8) ||
               (laboratoryAnalysisResult.totalCalcium > 10.4 && laboratoryAnalysisResult.totalCalcium <= 13.0),
               'red-text': laboratoryAnalysisResult.totalCalcium < 6.0 || laboratoryAnalysisResult.totalCalcium > 13.0
             }">
            {{ laboratoryAnalysisResult.totalCalcium }} mg/dL
          </div>
        </div>
        <div class="info-item">
          <label>Total Magnesium:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.totalMagnesium >= 1.5 && laboratoryAnalysisResult.totalMagnesium <= 2.6,
               'yellow-text': (laboratoryAnalysisResult.totalMagnesium >= 0.5 && laboratoryAnalysisResult.totalMagnesium < 1.5) ||
               (laboratoryAnalysisResult.totalMagnesium > 2.6 && laboratoryAnalysisResult.totalMagnesium <= 3.0),
               'red-text': laboratoryAnalysisResult.totalMagnesium < 0.5 || laboratoryAnalysisResult.totalMagnesium > 3.0
             }">
            {{ laboratoryAnalysisResult.totalMagnesium }} mg/dL
          </div>
        </div>
        <div class="info-item">
          <label>Iron Serum:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.serumIron >= 55 && laboratoryAnalysisResult.serumIron <= 160,
               'yellow-text': laboratoryAnalysisResult.serumIron > 160 && laboratoryAnalysisResult.serumIron <= 279,
               'red-text': laboratoryAnalysisResult.serumIron > 279
             }">
            {{ laboratoryAnalysisResult.serumIron }} µg/dL
          </div>
        </div>
        <div class="info-item">
          <label>Sodium Serum:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.serumSodium >= 135 && laboratoryAnalysisResult.serumSodium <= 147,
               'yellow-text': (laboratoryAnalysisResult.serumSodium >= 115 && laboratoryAnalysisResult.serumSodium < 135) ||
               (laboratoryAnalysisResult.serumSodium > 147 && laboratoryAnalysisResult.serumSodium <= 160),
               'red-text': laboratoryAnalysisResult.serumSodium < 115 || laboratoryAnalysisResult.serumSodium > 160
             }">
            {{ laboratoryAnalysisResult.serumSodium }} mmol/L
          </div>
        </div>
        <div class="info-item">
          <label>Potassium Serum:</label>
          <div [ngClass]="{
               'green-text': laboratoryAnalysisResult.serumPotassium >= 3.5 && laboratoryAnalysisResult.serumPotassium <= 5.0,
               'yellow-text': (laboratoryAnalysisResult.serumPotassium >= 2.5 && laboratoryAnalysisResult.serumPotassium < 3.5) ||
               (laboratoryAnalysisResult.serumPotassium > 5.0 && laboratoryAnalysisResult.serumPotassium <= 6.5),
               'red-text': laboratoryAnalysisResult.serumPotassium < 2.5 || laboratoryAnalysisResult.serumPotassium > 6.5
             }">
            {{ laboratoryAnalysisResult.serumPotassium }} mmol/L
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="shared-info-item">
      <label>Remarks:</label>
      <div *ngIf="laboratoryAnalysisResult.remarks">{{ laboratoryAnalysisResult.remarks }}</div>
      <div *ngIf="!laboratoryAnalysisResult.remarks">No remarks!</div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <div class="action-item">
      <label>Diabetes Risk:</label>
      <div *ngIf="laboratoryAnalysisResult.diabetesRisk === true" class="red-text">Yes</div>
      <div *ngIf="laboratoryAnalysisResult.diabetesRisk === false" class="green-text">No</div>
      <div *ngIf="laboratoryAnalysisResult.diabetesRisk === null">Not requested!</div>
    </div>
    <div class="action-item">
      <label>Consultation Date:</label>
      <span>{{ laboratoryAnalysisResult.createDate | date:'longDate' }}</span>
    </div>
    <div class="action-item">
      <label>Last Updated:</label>
      <span>{{ laboratoryAnalysisResult.updateDate | date:'longDate' }}</span>
    </div>
    <button mat-raised-button color="primary" class="formButton" (click)="onDialogClose()">Close</button>
  </mat-dialog-actions>
</div>
